body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  display: block;
  margin: 6px 0;
}

.footer-links a:hover {
  color: #007bff;
}

/* === Universe Partner Logos === */
.partner-logo {
  max-width: 140px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.partner-logo:hover {
  transform: scale(1.05);
}

.text-small {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .partner-logo {
    max-width: 100px;
  }
}

#supportHero {
  background-color: rgb(54, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  text-decoration: none;
  
}

#supportWrapper {
  margin: 0 auto;
  max-width: 1200px;
}

input.form-control {
  max-width: 66%;
}